# dependencies
node_modules/
.pnpm-store/

# environment variables
.env
.env.*
!.env.example

# build output
dist/
build/
.next/
.turbo/

# Prisma generated client
packages/db/generated/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode